<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dminc.lloydshackathon2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activites.HomeActivity"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".Activites.HomeDrawerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activites.AnotherActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Activites.HomeDrawerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activites.HomeDrawerActivity" />
        </activity>

    </application>

</manifest>
